.partners {
    background-image: url('/image/partners/background.png');
    background-size: contain; 
    background-position: 100% -60px;
    background-repeat: no-repeat; 
    width: 100%; 
    min-height: 550px;
  }

  